nav{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid rgb(218, 214, 214);

}

ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
    gap: 60px;

}


a:link {
  color: hsl(220, 14%, 75%);
  background-color: transparent;
  text-decoration: none;
  font-size: 14px;
    }

    a:visited{
        color: hsl(220, 14%, 75%);
        background-color: transparent;
  text-decoration: none;
    }

    a:hover{
        color: hsl(219, 9%, 45%);
        background-color: transparent;
    }

    #iconcart{
        cursor: pointer;
    }
    
    #Avatar{
        width: 40px;
        border: 1px solid red;
        border-radius: 50%;
        cursor: pointer;
    }

    #AllProducts{
        display: flex;
        flex-wrap: wrap;
align-items: center;
justify-content: space-around;
gap: 10px;
    }


    .productbox{
        width: 300px;
        height: 100%;
        border: 1px solid grey;
    }

    .imgproduct{
width: 100px;
height: 100px;
    }